.services
{
    max-width: 20%;
    background-color: rgb(3, 3, 138);
    color: white;
    text-align: center;
    align-items: center;
    /* max-width: 20%; */
}
.img1
{
    /* height: 200px; */
    width: 100%;
    border: 1px solid red;
}
.p2
{
    border-bottom-style: double;
    color: red;
}
.p1{
    color: black;
}
.why
{
    max-width: 30%;
    background-color: rgb(3, 3, 138);
    color: white;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
}
.mail
{
    max-width: 20%;
    background-color: rgb(3, 3, 138);
    color: white;
    text-align: center;
    align-items: center;
}
.fas
{
    color: white;
}
/* .robot
{
    width: 100%;
    height: 20px;
} */