.services
{
    background-color: rgb(3, 3, 138);
    color: white;
}
.img1
{
    /* height: 200px; */
    width: 100%;
    border: 1px solid red;
}
.p2
{
    border-bottom-style: double;
    color: red;
}
.p1{
    color: black;
}